.login-container {
  background: #f8f9fa;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 350px;
  background: white;
  border-radius: 8px;
  padding: 20px;
}

.btn-block {
  width: 100%;
}
